/**
 * Mixins
 */

 /**
 * 引用图片，自动获取图片的宽高
 * @param  {string} $name [图片相对于img目录的位置]
 */
@mixin image-background($name) {
  $url: './img/#{$name}.png';
  width: width($url);
  height: height($url);
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: width($url) auto;
}

/**
 * 引用图片，自动获取图片的宽高
 * @param  {string} $url [图片的路径]
 */
@mixin bg-wh($url) {
  width: width($url);
  height: height($url);
  background-size: size($url);
  background-image: url($url);
  background-repeat: no-repeat;
}

/**
 * 引用图片，自动获取图片的 background-size
 * @param  {string} $url [图片的路径]
 */
@mixin bg($url) {
  background-size: size($url);
  background-image: url($url);
  background-repeat: no-repeat;
}
 
/**
 * 文本截断 - text ellipsis
 * @param  {integer} $num [文本截断的行数]
 */
@mixin text-line($num:1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if $num == 1 {
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
  }
}

/**
 * 清除浮动
 */
@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

/**
 * 隐藏滚动条
 */
@mixin hide-scrollbar() {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}


